.custom-shape-divider-top-1617168560 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1617168560 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 460px;
}

.custom-shape-divider-top-1617168560 .shape-fill {
    fill: #5642C8;
}
#Box{
    height: 100px;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
}
#Box1{
    height: 450px;
    overflow: scroll;
    background-color: white;
    border: 1px solid #f6f6f6;
    border-radius:  0px 0px 25px 25px;
    width: 100%;
}
#header_text{
    color: #595959;
    font-size: 20px;
    font-weight: bolder;
}
::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d8d8d8; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#d8d8d8; 
  }
  #image{
      border-radius: 25px;
  }
  #Link{
      text-decoration: none;
      
  }
  #Navbar{
      height: 95vh;
      background-color: #5840c8;
      border-radius: 30px;

  }
  #Head1{
      background-color: white;
      border-bottom: 1px solid #e7e7e7;
      
      height: 10vh;
  }
  #Left1{
    background-color: white;
    
    border-right: 1px solid #e7e7e7;
    height: 80vh;
}
#right1{
    background-color: white;
    
  
    height: 80vh;
}
#Profile_txt{
    color: #545454;
    font-size: 15px;
    font-weight: bold;
}
#AVT{
    border-radius: 20px;
}
#AVT1{
    border-radius: 100px;
}
#AVT3{
    border-radius: 40px;
}
#username{
    color: #545454;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.5;
}
#det{
    background-color:  #e7e7e7;
}
#map{
    border-radius: 10px;
}
#toggle{
    width: 200px;
    height: 50px;
    background-color: red;
    display: none;
}
#dropdownlist{
    width: 350px !important; 
}
#profi{
    color: #545454;
    font-size: 13px;
    font-weight: bold;
}
#emi{
    color: #545454;
    font-size: 13px;
    font-weight: bold;
    opacity: 0.5;
}
#hori{
    background-color:  #e7e7e7;
    width: 150px;
}
.dropdown-menu{
    border: none;
}
.btn-danger{
    border: 30px !important;
}
.nav-link{
    background-color: transparent;
    color: white;
    opacity: 0.6;
}
.nav-link:hover{
    color: white;
    opacity: 1;
    
}
.nav-link:active{
    opacity: 1;
}
#v-pills-home-tab{
    opacity: 1;
}
#hp1{
    background-color: white;
}
.l_c_h {
    width:250px;
    position:fixed;
    bottom:0;
    right:70px;
    background:#fff;
    border-radius:3px;
    z-index:5000;
    border: 1px solid #5840c8;
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
                    display:block;
                }
.l_c_h .c_h {
    cursor:pointer;
    border-radius:0px;
            /*background:#c61432;*/
    background: #5840c8;
    border-radius: 10px 10px 0px 0px;

            line-height: 40px;
}
.l_c_h .left_c {
    color:white;
    width:150px;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}
.l_c_h .right_c {
    text-align:center;
    /*background:#DE4A4A;*/
background:#ff8f32;
    line-height: 36px;
}
.l_c_h .right_c  a {
    color:#ebebeb;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    cursor: pointer !important;
    font-size: 16px;
    line-height: normal !important;
    margin-top: 0 !important;
    padding: 1px 0px !important;
    text-align: center !important;
    text-decoration:none;
    font-weight:600;
}

.clear {
    clear:both;
}
.chat_container {
      /*		display:none;*/
      height: 250px;
      overflow: scroll;
     }
.chat_container .no_provider {
    text-align:left;
    color:#5E5652;
    font-size:12px;
    width:300px;
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:5px;
}
.chat_container .footer_c {
    text-align:left;
    color:#5E5652;
    font-size:12px;
    margin-left:10px;
    margin-bottom:10px;
    font-family:Arial, Helvetica, sans-serif;
}
.chat_container .footer_c a {
    text-decoration:underline;
    color:#777;
    font-size:11px;
}
.chat_container .chat_entry {
    margin:10px;
    margin-top:0px;
}
.chat_container .chat_entry p {
    margin-top:10px;
    margin-bottom:10px;
}
.chat_container .chat_entry h4 {
    text-align:left;
    color:#1A1A1A;
    font-weight:400;
    font-size:16px;
    margin-top:0px;
}
.chat_container .chat_entry input[type="text"] {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius:2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #999;
    font-size: 13px;
    padding: 8px 8px;
    margin-bottom:5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width:100%;
/* 	height:30px; */ 
    font-family:Arial, Helvetica, sans-serif;
}
.chat_container .chat_entry input[type="text"]:focus {
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline:0 none;
    border-color:#66afe9;
}
.chat_container .chat_entry input[type="submit"]{
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius:0px;
    color: #fff;
    /*background-color: #DD4A4A;*/
background-color: #2dc3e8 !important;
    font-family:Arial, Helvetica, sans-serif;    
}
.chat_container .chat_entry input[type="submit"]:hover {
    background-color: #C64545;
}
.form-error {
    display:none;
}
.chat_message {
    height:250px;
    overflow-y:scroll;
    padding:10px;
    border-bottom:1px solid #222222;
    padding-top:10px;
}
.chat_message .message_contain {
    margin:5px;
    background:#FCF8E2;
    padding:5px;
}
.chat_message .user_message {
    background:#F5F5F5;
}
.chat_message .message_contain  .header_image {
    float:left;
    width:50px;
    margin-top:0px;
    margin-bottom:0px;
}
.chat_message .message_contain .chat_mess {
    font-size:13px;
    color:#444444;
    margin-top:0px;
}
.chat_message .message_contain .chat_date {
    color:#777;
    font-size:11px;
    margin-top:0px;
    margin-bottom:0px;
}
.chat_text_area {
    margin:5px;
}
.chat_text_area .messag_send {
    width:100%;
    resize:none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    padding:5px;
    font-size:13px;
    height:35px;
}
.chat_text_area .messag_send:focus {
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline:0 none;
    border-color:#66afe9;
}
.left{
    float:left;
}
.right{
    float:right;
}
.left_icons{
    width:35px;
    height:auto;
    text-align:center;
    color:#999;
    /*background:#DE4A4A;*/
    background: #ff8f32;
    font-size:15px;
}
.left_icons a{
    color:#fff;
    font-weight:normal;
}
.center_icons{
    text-align:center;
    padding:2px 0px 0px 5px;
}
.logout img{
    margin-top:8px;
}
#naaa{
    font-size: 12px;
    color: #545454;
}
#Name11{
    font-size: 18px;
    color: #545454;  
}


html, body {
        
    height:100%;  
  }
#center-text {          
  display: flex;
  flex: 1;
  flex-direction:column; 
  justify-content: center;
  align-items: center;  
  height:100%;
  
}
#chat-circle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #5A5EB9;
  width: 80px;
  height: 80px;  
  border-radius: 50%;
  color: white;
  padding: 28px;
  cursor: pointer;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn#my-btn {
     background: white;
    padding-top: 13px;
    padding-bottom: 12px;
    border-radius: 45px;
    padding-right: 40px;
    padding-left: 40px;
    color: #5865C3;
}
#chat-overlay {
    background: rgba(255,255,255,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}


.chat-box {
  display:none;
  background: #efefef;
  position:absolute;
  right:380px;
  bottom:0px;  
  width:250px;
 
  
 
  border-radius:5px;  
/*   box-shadow: 0px 5px 35px 9px #464a92; */
  box-shadow: 0px 5px 35px 9px #ccc;
}
.chat-box-toggle {
  float:right;
  margin-right:15px;
  cursor:pointer;
}
.chat-box-header {
  background: #5A5EB9;
  height:70px;
  border-top-left-radius:5px;
  border-top-right-radius:5px; 
  color:white;
  text-align:center;
  font-size:20px;
  padding-top:17px;
}
.chat-box-body {
  position: relative;  
  height:370px;  
  height:auto;
  border:1px solid #ccc;  
  overflow: hidden;
}
  

#chat-input {
  background: #f4f7f9;
  width:100%; 

  height:47px;  
  padding-top:10px;
 
  padding-bottom:10px;
  
  border:none;
  resize:none;
  outline:none;
  border:1px solid #ccc;
  color:#888;
  border-top:none;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  overflow:hidden;  
}
.chat-input > form {
    margin-bottom: 0;
}
#chat-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
#chat-input::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
#chat-input:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
#chat-input:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.chat-submit {  
  position:absolute;
  bottom:3px;
  right:10px;
  background: transparent;
  box-shadow:none;
  border:none;
  border-radius:50%;
  color:#5A5EB9;
  width:35px;
  height:35px;  
}
.chat-logs {
  padding:15px; 
  
  overflow-y:scroll;
  height: 250px;
}

.chat-logs::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar
{
  width: 5px;  
  background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar-thumb
{
  background-color: #5A5EB9;
}



@media only screen and (max-width: 500px) {
   .chat-logs {
        height:40vh;
    }
}

.chat-msg.user > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:left;
  width:15%;
}
.chat-msg.self > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:right;
  width:15%;
}
.cm-msg-text {
  background:white;
  padding:10px 15px 10px 15px;  
  color:#666;
  max-width:75%;
  float:left;
  margin-left:10px; 
  position:relative;
  margin-bottom:20px;
  border-radius:30px;
}
.chat-msg {
  clear:both;    
}
.chat-msg.self > .cm-msg-text {  
  float:right;
  margin-right:10px;
  background: #5A5EB9;
  color:white;
}
.cm-msg-button>ul>li {
  list-style:none;
  float:left;
  width:50%;
}
.cm-msg-button {
    clear: both;
    margin-bottom: 70px;
}
