.custom-shape-divider-top-1617168560 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1617168560 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 460px;
}

.custom-shape-divider-top-1617168560 .shape-fill {
    fill: #5642C8;
}
#Box{
    height: 100px;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
}
#Box1{
    height: 450px;
    overflow: scroll;
    background-color: white;
    border: 1px solid #f6f6f6;
    border-radius:  0px 0px 25px 25px;
    width: 100%;
}
#header_text{
    color: #595959;
    font-size: 20px;
    font-weight: bolder;
}
::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d8d8d8; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#d8d8d8; 
  }
  #image{
      border-radius: 25px;
  }
  #Link{
      text-decoration: none;
      
  }
  #Navbar{
      height: 95vh;
      background-color: #5840c8;
      border-radius: 30px;

  }
  #Head1{
      background-color: white;
      border-bottom: 1px solid #e7e7e7;
      
      height: 10vh;
  }
  #Left1{
    background-color: white;
    
    border-right: 1px solid #e7e7e7;
    height: 80vh;
}
#right1{
    background-color: white;
    
  
    height: 80vh;
}
#Profile_txt{
    color: #545454;
    font-size: 15px;
    font-weight: bold;
}
#AVT{
    border-radius: 20px;
}
#AVT1{
    border-radius: 100px;
}
#AVT3{
    border-radius: 40px;
}
#username{
    color: #545454;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.5;
}
#det{
    background-color:  #e7e7e7;
}
#map{
    border-radius: 10px;
}
#toggle{
    width: 200px;
    height: 50px;
    background-color: red;
    display: none;
}
#dropdownlist{
    width: 350px !important; 
}
#profi{
    color: #545454;
    font-size: 13px;
    font-weight: bold;
}
#emi{
    color: #545454;
    font-size: 13px;
    font-weight: bold;
    opacity: 0.5;
}
#hori{
    background-color:  #e7e7e7;
    width: 150px;
}
.dropdown-menu{
    border: none;
}
.btn-danger{
    border: 30px !important;
}
.nav-link{
    background-color: transparent;
    color: white;
    opacity: 0.6;
}
.nav-link:hover{
    color: white;
    opacity: 1;
    
}
.nav-link:active{
    opacity: 1;
}
#v-pills-home-tab{
    opacity: 1;
}
#hp1{
    background-color: white;
}